In [78]:
#Importing essential tools
import yfinance as yf
import pandas as pd
from matplotlib import pyplot as plt 
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [79]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [80]:
#Extract Tesla
tesla = yf.Ticker("TSLA")

In [81]:
tesla_data = tesla.history(period="max")

In [82]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [83]:
tesla_info = tesla.info
tesla_info

{'zip': '78725',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 99290,
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.',
 'city': 'Austin',
 'phone': '(512) 516-8177',
 'state': 'TX',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.tesla.com',
 'maxAge': 1,
 'address1': '13101 Tesla Road',
 'industry': 'Auto Manufacturers',
 'ebitdaMargins': 0.21385999,
 'profitMargins': 0.14947,
 'grossMargins': 0.26613,
 'operatingCashflow': 16030999552,
 'revenueGrowth': 0.559,
 'operatingMargins': 0.16569,
 'ebitda': 16010000384,
 'targetLowPrice': 24.33,
 'recommendationKey': 'buy',
 'grossProfits': 13606000000,
 'freeCashflow': 6553249792,
 'targetMedianPrice': 240,
 'currentPrice': 113.06,
 'earningsGrowth': 0.977,
 'currentRatio': 1.462,
 'returnOnAssets': 0.11723,
 'numberOfAnalystOpinions': 36,
 'targetMeanPrice': 226.09,
 'debtToEquity': 14.284,
 'returnOnEquity': 0.32242,
 'targetHighPrice': 436,
 'totalCash': 21106999296,
 'totalDebt': 5873999872,
 'totalRevenue': 74863001600,
 'totalCashPerShare': 6.684,
 'financialCurrency': 'USD',
 'revenuePerShare': 24.151,
 'quickRatio': 0.953,
 'recommendationMean': 2.3,
 'exchange': 'NMS',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'messageBoardId': 'finmb_27444752',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 4.468,
 'beta3Year': None,
 'enterpriseToEbitda': 20.891,
 '52WeekChange': -0.67945033,
 'morningStarRiskRating': None,
 'forwardEps': 5.15,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 3157750016,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 12.619,
 'sharesShort': 73037086,
 'sharesPercentSharesOut': 0.0231,
 'fundFamily': None,
 'lastFiscalYearEnd': 1640908800,
 'heldPercentInstitutions': 0.45818,
 'netIncomeToCommon': 11187000320,
 'trailingEps': 3.14,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.16598755,
 'priceToBook': 8.959505,
 'heldPercentInsiders': 0.16325001,
 'nextFiscalYearEnd': 1703980800,
 'yield': None,
 'mostRecentQuarter': 1664496000,
 'shortRatio': 0.77,
 'sharesShortPreviousMonthDate': 1668470400,
 'floatShares': 2685131640,
 'beta': 2.030345,
 'enterpriseValue': 334466416640,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1661385600,
 'lastSplitFactor': '3:1',
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 1.035,
 'priceToSalesTrailing12Months': 4.768914,
 'dateShortInterest': 1671062400,
 'pegRatio': 0.79,
 'ytdReturn': None,
 'forwardPE': 21.953398,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.028199999,
 'sharesShortPriorMonth': 78270643,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 110.34,
 'regularMarketOpen': 103,
 'twoHundredDayAverage': 248.16379,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 114.39,
 'navPrice': None,
 'averageDailyVolume10Day': 197637570,
 'regularMarketPreviousClose': 110.34,
 'fiftyDayAverage': 171.5898,
 'trailingAnnualDividendRate': 0,
 'open': 103,
 'toCurrency': None,
 'averageVolume10days': 197637570,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 101.82,
 'currency': 'USD',
 'trailingPE': 36.006367,
 'regularMarketVolume': 220911051,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 357015224320,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 111395603,
 'dayLow': 101.82,
 'ask': 113.1,
 'askSize': 1000,
 'volume': 220911051,
 'fiftyTwoWeekHigh': 384.29,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 101.81,
 'bid': 113.55,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 3200,
 'dayHigh': 114.39,
 'coinMarketCapLink': None,
 'regularMarketPrice': 113.06,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/tesla.com',
 'trailingPegRatio': 1.0784}

In [84]:
tesla_info['country']

'United States'

In [85]:
#Extract Tesla stock price
tesla_share_price_data = tesla.history(period="max")
tesla_share_price_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [86]:
tesla_share_price_data.reset_index(inplace=True)

In [87]:
#Using Webscraping to Extract Stock Data Example
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

data  = requests.get(url).text

In [88]:
#parse the text into html using BeautifulSoup
soup = BeautifulSoup(data,'html5lib')

In [89]:
#Turn html table into dataframe 
tesla_revenue = pd.DataFrame(columns=['Date', 'Revenue'])

for table in soup.find_all('table'):

    if ('Tesla Quarterly Revenue' in table.find('th').text):
        rows = table.find_all('tr')
        
        for row in rows:
            col = row.find_all('td')
            
            if col != []:
                date = col[0].text
                revenue = col[1].text.replace(',','').replace('$','')

                tesla_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)

In [90]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

C:\Users\Lenovo\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning:

The default value of regex will change from True to False in a future version.

In [91]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [92]:
tesla_revenue.tail()

          Date Revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

In [93]:
make_graph(tesla_data, tesla_revenue, "Tesla")

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed